<!DOCTYPE html>
<html>
<head>
    <title>Outra Rota</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        {% include 'menu.html' %}
        
        <div class="col-md-9">
            <h1>Outra Rota</h1>
            
            <p>Esta é uma outra rota protegida que só pode ser acessada por usuários autenticados.</p>
        </div>
    </div>
</div>

</body>
</html>
